**LEIRAS oszlop**

In [12]:
SELECT 
    COUNT(*) AS 'Összes sor',
    SUM(CASE WHEN LEIRAS IS NULL THEN 1 ELSE 0 END) AS 'NULL értékek száma',
    (100.0 * SUM(CASE WHEN LEIRAS IS NULL THEN 1 ELSE 0 END) / COUNT(*)) AS 'NULL értékek aránya százalékban'
FROM TERMEK

Összes sor,NULL értékek száma,NULL értékek aránya százalékban
551,527,95.644283121597

In [4]:
SELECT 
    COUNT(*) AS 'Nem null db',
    MIN(LEN(LEIRAS)) AS 'Minimum hossz',
    MAX(LEN(LEIRAS)) AS 'Maximum hossz',
    AVG(LEN(LEIRAS) * 1.0) AS 'Átlag hossz'
FROM TERMEK
WHERE LEIRAS IS NOT NULL

Nem null db,Minimum hossz,Maximum hossz,Átlag hossz
24,5,19,11.458333

**LISTAAR oszlop**

In [10]:
SELECT COUNT(*) AS 'NULL értékek'
FROM TERMEK
WHERE LISTAAR IS NULL

NULL értékek
0

In [24]:
SELECT 
    COUNT(*) AS 'Darabszám',
    MIN(LISTAAR) AS 'Minimum',
    MAX(LISTAAR) AS 'Maximum',
    AVG(LISTAAR) AS 'Átlag'
FROM TERMEK
WHERE LISTAAR IS NOT NULL

Darabszám,Minimum,Maximum,Átlag
551,0,46000,"786,2813067150635"

In [41]:
SELECT 
    CASE 
        WHEN LISTAAR < 1000 THEN '0–999 Ft'
        WHEN LISTAAR BETWEEN 1000 AND 1999 THEN '1000–1999 Ft'
        WHEN LISTAAR BETWEEN 2000 AND 2999 THEN '2000–2999 Ft'
        WHEN LISTAAR BETWEEN 3000 AND 3999 THEN '3000–3999 Ft'
        WHEN LISTAAR BETWEEN 4000 AND 4999 THEN '4000–4999 Ft'
        ELSE '5000+ Ft'
    END AS 'Ár kategória',
    COUNT(*) AS 'Termékek száma'
FROM TERMEK
GROUP BY 
    CASE 
        WHEN LISTAAR < 1000 THEN '0–999 Ft'
        WHEN LISTAAR BETWEEN 1000 AND 1999 THEN '1000–1999 Ft'
        WHEN LISTAAR BETWEEN 2000 AND 2999 THEN '2000–2999 Ft'
        WHEN LISTAAR BETWEEN 3000 AND 3999 THEN '3000–3999 Ft'
        WHEN LISTAAR BETWEEN 4000 AND 4999 THEN '4000–4999 Ft'
        ELSE '5000+ Ft'
    END

Ár kategória,Termékek száma
0–999 Ft,511
1000–1999 Ft,14
2000–2999 Ft,1
3000–3999 Ft,2
4000–4999 Ft,3
5000+ Ft,20

**KESZLET oszlop**

In [26]:
SELECT COUNT(*) AS 'NULL értékek'
FROM TERMEK
WHERE KESZLET IS NULL

NULL értékek
0

In [30]:
SELECT 
    COUNT(*) AS 'Darabszám',
    MIN(KESZLET) AS 'Minimum',
    MAX(KESZLET) AS 'Maximum',
    AVG(KESZLET) AS 'Átlag'
FROM TERMEK
WHERE KESZLET IS NOT NULL

Darabszám,Minimum,Maximum,Átlag
551,0,50000,"1585,9909255898367"

In [40]:
--Kiugró értékek (3× átlag felett)

SELECT 
    TERMEKKOD AS 'Termék kód', 
    KESZLET AS 'Készlet'
FROM TERMEK
WHERE KESZLET > 3 * (
    SELECT AVG(KESZLET)
    FROM TERMEK
)
ORDER BY 2

Termék kód,Készlet
06080336T,4900
08070480T,5000
05010306T,5000
04030287T,5100
05010027T,5900
07080163T,6000
07080419T,6000
04110273T,6200
01020299T,6600
02040292T,6900
06040174T,7000
07080468T,7200
04040090T,7700
03050458T,8000
07080318T,8000
07080467T,8000
08070475T,9000
02040293T,9000
02080435T,10000
02030044T,10000
02040002T,10000
04030236T,10000
07080314T,12000
07080313T,12500
07080470T,15000
07080311T,22000
07080315T,25000
03050080T,26000
07080164T,30000
07080469T,35000
03050079T,40000
03050457T,50000
07080471T,50000

**RAKTAR\_KOD oszlop**

In [43]:
SELECT 
    RAKTAR_KOD AS 'Raktár kód', 
    COUNT(*) AS 'Termékek száma'
FROM TERMEK
GROUP BY RAKTAR_KOD

Raktár kód,Termékek száma
1,11
2,5
3,14
4,4
5,86
6,106
7,100
8,123
9,102